# SELECT
#### Usado para selecionar os dados de um banco de dados, o retorno é armazenado em tabelas, chamadas result-set.

In [ ]:
SELECT *
FROM customers

Realizando uma operação matematica em uma das colunas e armazenando em uma nova coluna com um novo nome

In [ ]:
SELECT 
	first_name, 
	last_name, 
	points, 
	points * 10 + 100 AS 'discount_factor'
FROM customers

#### DISTINCT
Usado para retornar somente uma vez cada registro, sem os repetidos

In [ ]:
SELECT DISTINCT state
FROM customers

#### WHERE
Usado para retornar somente os registros que satisfazem a condição

In [ ]:
SELECT * 
FROM customers
WHERE birth_date > '1990-01-01';

#### ORDER BY
Usado para ordenar a saída dos resultados

In [ ]:
SELECT *
FROM customers
ORDER BY first_name;

In [ ]:
SELECT *
FROM customers
ORDER BY first_name DESC;

#### AND, OR and NOT operators

In [ ]:
SELECT *
FROM customers
WHERE NOT (birth_date > '1990-01-01' OR points > 1000) AND state = 'VA';

SELECT *
FROM order_items
WHERE order_id = '6' AND (quantity * unit_price > 30)

#### IN OPERATOR

In [ ]:
SELECT *
FROM Customers
WHERE state IN ('VA', 'FL', 'GA')

SELECT *
FROM Customers
WHERE state NOT IN ('VA', 'FL', 'GA')

#### BETWEEN OPERATOR

In [ ]:
SELECT *
FROM customers
WHERE points BETWEEN 100 AND 3000

#### LIKE OPERATOR

In [ ]:
SELECT * 
FROM customers
WHERE last_name LIKE '%b' -- termina com B
WHERE last_name LIKE '_b' -- termina com duas letras e a ultima é B
WHERE last_name LIKE 'b%' -- começa com b
WHERE last_name LIKE '%B%' -- tem b no meio da palavra
-- % = qualquer numero de caracteres
-- _ = numero exato de caracteres

In [ ]:
SELECT *
FROM customers
WHERE address LIKE '%trail' OR
address LIKE '%avenue%'

#### REGEXP
busca com expressões regulares

In [ ]:
SELECT * 
FROM customers
WHERE last_name REGEXP '^field'

#### IS NULL
Buscando instancias dados faltantes/não faltantes

In [ ]:
SELECT * 
FROM customers
WHERE phone IS NULL

In [ ]:
SELECT * 
FROM customers
WHERE phone IS NOT NULL

#### LIMIT
limitando o número de linhas retornadas